src/main/mule/implementation/picking-status-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
		http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
		http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">

	<!-- WMS to ERP: Picking Status Updates Flow -->
	<!-- This flow receives picking status updates from WMS and forwards them to ERP -->
	
	<flow name="post:\\picking-status:application\\json:wms-erp-api-config" doc:name="POST Picking Status">
		<logger level="INFO" doc:name="Log Request Start" message="#[output application/json --- {correlationId: correlationId, flowName: flow.name, action: 'START', pickId: payload.pickId default 'N/A', status: payload.status default 'N/A', timestamp: now()}]"/>
		
		<!-- Store original payload -->
		<set-variable variableName="originalPayload" value="#[payload]" doc:name="Store Original Payload"/>
		
		<!-- Generate Idempotency Key for Picking Status -->
		<set-variable variableName="idempotencyKey" value="#['PICK-' ++ (payload.pickId default '') ++ '-' ++ (payload.status default '') ++ '-' ++ (payload.updatedAt as String default '')]" doc:name="Generate Idempotency Key"/>
		
		<!-- Idempotency Check -->
		<idempotent-message-validator idExpression="#[vars.idempotencyKey]" objectStore="Idempotency_Object_Store" doc:name="Idempotency Check"/>
		
		<!-- Validate Picking Status -->
		<flow-ref name="validate-picking-status-subflow" doc:name="Validate Picking Status"/>
		
		<!-- Transform to ERP Format -->
		<flow-ref name="transform-picking-to-erp-subflow" doc:name="Transform to ERP Format"/>
		
		<!-- Send to ERP with Retry -->
		<flow-ref name="send-to-erp-subflow" doc:name="Send to ERP"/>
		
		<!-- Build Success Response -->
		<set-variable variableName="httpStatus" value="200" doc:name="Set HTTP Status 200"/>
		<ee:transform doc:name="Build Success Response">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	success: true,
	message: "Picking status update successfully processed",
	referenceId: vars.originalPayload.pickId
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		
		<logger level="INFO" doc:name="Log Request End" message="#[output application/json --- {correlationId: correlationId, flowName: flow.name, action: 'END', pickId: vars.originalPayload.pickId, status: vars.originalPayload.status, result: 'SUCCESS', timestamp: now()}]"/>
		
		<error-handler ref="Global_Error_Handler"/>
	</flow>

</mule>
