src/main/mule/implementation/purchase-orders-flow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xsi:schemaLocation="
		http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
		http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
		http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
		http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">

	<!-- ERP to WMS: Purchase Orders Flow -->
	<!-- This flow receives purchase orders from ERP and forwards them to WMS -->
	
	<flow name="post:\\purchase-orders:application\\json:wms-erp-api-config" doc:name="POST Purchase Orders">
		<logger level="INFO" doc:name="Log Request Start" message="#[output application/json --- {correlationId: correlationId, flowName: flow.name, action: 'START', poNumber: payload.poNumber default 'N/A', timestamp: now()}]"/>
		
		<!-- Store original payload -->
		<set-variable variableName="originalPayload" value="#[payload]" doc:name="Store Original Payload"/>
		
		<!-- Idempotency Check -->
		<flow-ref name="idempotency-check-subflow" doc:name="Idempotency Check"/>
		
		<!-- Validate Purchase Order -->
		<flow-ref name="validate-purchase-order-subflow" doc:name="Validate Purchase Order"/>
		
		<!-- Transform to WMS Format -->
		<flow-ref name="transform-po-to-wms-subflow" doc:name="Transform to WMS Format"/>
		
		<!-- Send to WMS -->
		<flow-ref name="send-to-wms-subflow" doc:name="Send to WMS"/>
		
		<!-- Build Success Response -->
		<set-variable variableName="httpStatus" value="201" doc:name="Set HTTP Status 201"/>
		<ee:transform doc:name="Build Success Response">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	success: true,
	message: "Purchase order successfully processed",
	referenceId: vars.originalPayload.poNumber
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		
		<logger level="INFO" doc:name="Log Request End" message="#[output application/json --- {correlationId: correlationId, flowName: flow.name, action: 'END', poNumber: vars.originalPayload.poNumber, status: 'SUCCESS', timestamp: now()}]"/>
		
		<error-handler ref="Global_Error_Handler"/>
	</flow>

</mule>
